In [1]:
import pandas as pd
import os

In [4]:
path1 = "/home/data/PMN/1.Pluviometricos/"
path2 = "/home/data/PMN/2.Meteorologicos/" 
os.listdir("/home/data/PMN/2.Meteorologicos/")

['Charitas', 'Barreto', 'Itaipu']

# Começando pelos Meteorológicos:
## Barreto:

In [11]:
os.listdir("/home/data/PMN/2.Meteorologicos/Barreto/")

['Dados Meteorológicos_Niterói_2021.xlsx',
 'Dados Meteorológicos_Niterói_2018.xlsx',
 'Dados Meteorológicos_Niterói_2019.csv',
 'Dados Meteorológicos_Niterói_2020.csv']

In [57]:
barreto = os.listdir("/home/data/PMN/2.Meteorologicos/Barreto/")
B_list = []
for cada in barreto:
    try:
        var = pd.read_csv(path2+"Barreto/"+cada, sep=';')
    except:
        var = pd.read_excel(path2+"Barreto/"+cada)
    
    B_list.append(var)

In [61]:
B_list[1]=B_list[1].loc[7:]
B_list[1].reset_index().drop

B_list[2]=B_list[2].loc[7:]
B_list[2].reset_index()

B_list[3]=B_list[3].loc[7:]
B_list[3].reset_index()

In [75]:
colunas=[]
for cada in B_list[0].loc[0]:
    colunas.append(cada) 
colunas

['Data',
 'Hora (UTC)',
 'Temp. Ins. (C)',
 'Temp. Max. (C)',
 'Temp. Min. (C)',
 'Umi. Ins. (%)',
 'Umi. Max. (%)',
 'Umi. Min. (%)',
 'Pto Orvalho Ins. (C)',
 'Pto Orvalho Max. (C)',
 'Pto Orvalho Min. (C)',
 'Pressao Ins. (hPa)',
 'Pressao Max. (hPa)',
 'Pressao Min. (hPa)',
 'Vel. Vento (m/s)',
 'Dir. Vento (m/s)',
 'Raj. Vento (m/s)',
 'Radiacao (KJ/mÂ²)',
 'Chuva (mm)']

In [89]:
B_list[1] = B_list[1].reset_index()
B_list[1]

ValueError: cannot insert level_0, already exists

In [80]:
B_list[1]

,REGIÃO:,SE,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
7,DATA (YYYY-MM-DD),HORA (UTC),"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORAR...",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (KJ/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
8,2018-07-13 00:00:00,00:00:00,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
9,2018-07-13 00:00:00,01:00:00,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
10,2018-07-13 00:00:00,02:00:00,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
11,2018-07-13 00:00:00,03:00:00,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4131,2018-12-31 00:00:00,19:00:00,0,1010,1010,1008.5,2241.3,30.7,23.1,32.7,29.9,23.2,21.9,66,55,64,114,10.2,2.8
4132,2018-12-31 00:00:00,20:00:00,0,1010,1010.1,1009.6,826.9,30,22.1,30.7,29.2,23,22,67,62,63,163,7.1,2.3
4133,2018-12-31 00:00:00,21:00:00,0,1010.7,1011,1010,343,28.3,20.9,30.1,28.3,22.4,20.3,66,59,64,338,7.1,1.3
4134,2018-12-31 00:00:00,22:00:00,0,1011.1,1011.1,1010.7,58.3,28.1,20.3,28.3,27.8,21.3,20.3,67,62,62,63,4,1.3
4135,2018-12-31 00:00:00,23:00:00,0,1011.9,1011.9,1011.1,-9999,27.9,20,28.2,27.8,20.4,19.8,63,62,62,71,2.8,0.6