## Vazpy tests

In [1]:
import vazpy as vz

In [2]:
vazoes = vz.vazoes('D:/_Gabriel/Estudo/UFF/Bloqueios_Atmosfericos/CSVs/vazoesdiarias.csv')
vazoes

[<xarray.Dataset>
 Dimensions:  (time: 14611)
 Coordinates:
   * time     (time) datetime64[ns] 1979-01-01 1979-01-02 ... 2019-01-01
 Data variables:
     246      (time) int64 11588 18224 14928 10183 6820 ... 6125 6380 6740 7064
     34       (time) int64 8631 15140 11877 7269 5272 ... 4510 4807 5064 5465
     237      (time) int64 891 422 420 219 252 294 ... 368 304 255 326 294 216
     240      (time) int64 1718 773 618 518 530 543 ... 667 697 617 524 505 531
     33       (time) int64 3511 8280 5512 3760 2905 ... 2035 2134 2294 2513 2727
     24       (time) int64 805 2318 1228 824 649 591 ... 317 343 395 500 615 673
     6        (time) int64 1569 2325 1754 1070 917 854 ... 995 1001 978 934 888
     18       (time) int64 3533 4629 5172 2689 1796 ... 1778 1868 1967 2058 2203
     156      (time) int64 1227 5583 2817 1048 1041 977 ... 483 573 626 621 849
     168      (time) int64 4415 5797 12332 7714 3306 ... 1393 1209 1072 980 908
     275      (time) int64 11766 32062 40333 33939 25245 ... 7864 7908 8013 8078
     287      (time) int64 26844 31031 35562 42629 ... 30813 29945 30342 29938
     285      (time) int64 26921 31129 34756 42201 ... 29471 29908 29539 28658
     190      (time) int64 553 914 997 731 1085 420 ... 265 259 271 284 295 295
     254      (time) int64 85 162 257 63 85 115 62 28 ... 43 38 34 30 27 25 23 21,
 <xarray.Dataset>
 Dimensions:  (time: 14611)
 Coordinates:
   * time     (time) datetime64[ns] 1979-01-01 1979-01-02 ... 2019-01-01
 Data variables:
     111      (time) int64 90 49 139 65 68 95 89 ... 301 296 296 289 278 250 225
     217      (time) int64 462 68 145 113 241 616 256 ... 600 568 536 492 436 394
     74       (time) int64 521 137 271 134 185 1014 ... 409 415 368 321 291 282
     78       (time) int64 652 175 550 172 291 1433 ... 566 599 613 593 553 518
     66       (time) int64 13311 15225 18467 11427 8604 ... 8912 9078 9193 9346
     63       (time) int64 1428 809 661 548 381 1315 ... 1154 1125 1090 1051 1004
     61       (time) int64 947 657 427 311 369 876 ... 929 929 899 862 812 755]

In [3]:
vz.dfvazoes('D:/_Gabriel/Estudo/UFF/Bloqueios_Atmosfericos/CSVs/vazoesdiarias.csv', series='rainy season', usinas=['6', '168'])

C:\Users\gabri\miniconda3\envs\gab\lib\site-packages\xarray\core\common.py:1123: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  grouper = pd.Grouper(

              Furnas  Sobradinho
time
1979-01-01  0.342002    0.498832
1979-02-01  0.558291    0.630731
1979-03-01  0.340529    1.000000
1979-10-01  0.169981    0.270475
1979-11-01  0.236271    0.404450
...              ...         ...
2018-03-01  0.153000    0.167327
2018-10-01  0.118133    0.050142
2018-11-01  0.193991    0.115708
2018-12-01  0.162871    0.165531
2019-01-01  0.231927    0.093131

[241 rows x 2 columns]