In [1]:
import pandas as pd

In [13]:
ana_clust = pd.read_csv('series_ana_clusters.csv', sep=',')
ana_clust.nunique()
ana_clust.sort_values(by='cluster')

,Code,cluster,Latitude,Longitude,2005-01-01 00:00:00,2005-01-02 00:00:00,2005-01-03 00:00:00,2005-01-04 00:00:00,2005-01-05 00:00:00,2005-01-06 00:00:00,...,2021-02-19 00:00:00,2021-02-20 00:00:00,2021-02-21 00:00:00,2021-02-22 00:00:00,2021-02-23 00:00:00,2021-02-24 00:00:00,2021-02-25 00:00:00,2021-02-26 00:00:00,2021-02-27 00:00:00,2021-02-28 00:00:00
271,2045013,0.0,-20.0844,-45.2967,0.0,23.4,0.0,3.2,36.3,66.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,1945008,0.0,-19.7425,-45.2550,0.0,56.1,1.0,0.0,74.0,126.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,1944049,0.0,-19.4283,-44.7197,0.0,5.8,0.0,0.0,3.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,1149000,1.0,-11.3389,-49.2653,0.0,0.0,19.8,0.0,0.0,45.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,1149002,1.0,-11.7372,-49.1361,0.0,0.0,5.7,0.0,10.5,19.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,2247054,125.0,-22.3008,-47.1336,0.0,7.2,14.3,8.6,19.5,7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,2246003,125.0,-22.0378,-46.9650,0.0,0.4,0.5,1.7,21.0,21.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,2046013,126.0,-20.3300,-46.3661,9.7,31.3,0.3,15.8,39.3,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,1244022,127.0,-12.2325,-44.3872,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,1244023,127.0,-12.6606,-44.3892,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# exemplo do cluster 0:
cluster0 = ana_clust.where(ana_clust['cluster']==0).dropna(how='all')

cluster0.shape[0] # n° de postos presentes
cluster0.drop(['Code','cluster','Latitude','Longitude'],axis=1).transpose()

                     235   239   271
2005-01-01 00:00:00  0.0   0.0   0.0
2005-01-02 00:00:00  5.8  56.1  23.4
2005-01-03 00:00:00  0.0   1.0   0.0
2005-01-04 00:00:00  0.0   0.0   3.2
2005-01-05 00:00:00  3.4  74.0  36.3
...                  ...   ...   ...
2021-02-24 00:00:00  NaN   NaN   NaN
2021-02-25 00:00:00  NaN   NaN   NaN
2021-02-26 00:00:00  NaN   NaN   NaN
2021-02-27 00:00:00  NaN   NaN   NaN
2021-02-28 00:00:00  NaN   NaN   NaN

[5903 rows x 3 columns]

In [ ]:
ana_clust